@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Asap');

html {
	//background-color: #333;
	//color: white;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: currentColor;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Asap', sans-serif;
}

.selector-list {
	display: flex;

	li {
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-color: rgba(255, 255, 255, 0.1);
		margin-right: 4px;
		text-align: center;
	}

	li.active {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

.no-selection {
	margin: 50px;
	text-align: center;
	color: #777;
}

.controls-wrapper {
	h3 {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid deepskyblue;
		margin-bottom: 20px;

		button.remove {
			border: 0px;
			background-color: transparent;
			color: white;
			font-size: 12px;
			outline: none;
			margin: 0;
		}
	}

	.info {
		font-size: 14px;
		line-height: 150%;
		opacity: 0.8;
	}

	h4 {
		margin-bottom: 10px;
		font-size: 0.8em;
	}
	button {
		border: 1px solid deepskyblue;
		background-color: transparent;
		color: deepskyblue;
		height: 25px;
		line-height: 25px;
		font-size: 12px;
		margin-bottom: 5px;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
