rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /samples {
        // every can read everything
        match /{allSamples=**} {
            allow read;
        }

        // only admin can upload to public
        match /public/{sample} {
            allow write: if isAdmin(request) && isAudioFile(request);
        }

        // users can upload in their own folder
        match /user/{userId}/{sample} {
            allow write: if request.auth.uid == userId && isAudioFile(request);
        }
    }

  }
}

function isAudioFile(request) {
    return request.resource.contentType.matches('audio/.*');
}

function isAdmin(request) {
    return request.auth != null && request.auth.token.admin == true;
}