/* stylelint-disable-next-line block-no-empty */
:local {
	.wrap {
		height: 30px;
		background-color: #bbb;
		margin: 3px 0;
		position: relative;
		color: white;

		.fill {
			height: 100%;
			width: 0%;
			background-color: #555;
		}

		span.content {
			position: absolute;
			left: 10px;
			top: 5px;
		}
	}
}
