/* stylelint-disable-next-line block-no-empty */
:local {
	.disc-view {
		position: relative;
		height: calc(60vh - 56px);
		overflow: hidden;

		&.editor {
			height: calc(100vh - 56px - 80px); // header and maincontrols height todo make variables
		}
	}
}
