/* stylelint-disable-next-line block-no-empty */
.disc-sound-selector {
  .item {
    margin: 5px 0;
    background-color: #444;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 18px;
    width: 100%;
    text-align: left;
    height: auto;

    small {
      opacity: 0.5;
    }
  }
  .add {
    padding: 15px;
    text-align: center;
  }
}
