:local {
	.drop-area {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 10px;
		background-color: rgba(255, 255, 255, 0.2);
		text-align: center;
		color: rgba(255, 255, 255, 0.4);
		margin-bottom: 10px;

		&.drag-over {
			background-color: red;
			background-color: rgba(255, 255, 255, 1);
			color: rgba(0, 0, 0, 0.5);
		}
	}
}
