/* stylelint-disable-next-line block-no-empty */
:local {
	.wrapper {
		padding: 10px;
		ul.menu {
			display: flex;
			margin-bottom: 20px;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			li {
				padding: 5px 10px;

				&:hover {
					background-color: #555;
				}
			}

			li.active {
				background-color: white;
				color: black;
			}
		}
	}
}
