:local {
	.header {
		padding: 10px 30px;
		height: 56px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.login-state {
			align-self: center;
			a {
				color: currentColor;
			}
		}

		h1 {
			a {
				color: currentColor;
				text-decoration: none;
			}
		}
	}
}
