/* stylelint-disable-next-line block-no-empty */
:local {
	.header {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;

		img.profile {
			width: 120px;
			height: 120px;
		}

		.info {
			margin-left: 20px;
		}
	}
}
